.botao_login {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 182px;
  height: 51px;

  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #2a7ae4;
  text-decoration: none;

  border: 1px solid #2a7ae4;
}