.footer {
  display: flex;
  background-color: #eaf2fd;
  padding: 64px 0 64px;

}

.footer .footer_container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  margin-left: 152px;
  margin-right: 152px;
}

.logo_footer {
  width: 176px;
  height: 50px;
}

.footer ul li {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;

  margin-bottom: 24px;
}

.footer_formulario p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #464646;

  margin-bottom: 8px;
}

.footer_formulario form {
  display: flex;
  flex-direction: column;
}

.footer_formulario label {
    background-color: #FFFFFF;
}