.banner_container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 41.15%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../../assets/img/banner-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 352px;
}

.banner_container h1 {
  margin-left: 152px;
  padding-top: 150px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 61px;
  color: #ffffff;
}

.banner_container h2 {
  margin-left: 152px;
  padding-top: 16px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.banner_container a {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;
  margin-left: 152px;
  margin-bottom: 32px;
  background-color: #2a7ae4;

  width: 130px;
  height: 51px;

  color: #fff;
  font-family: "Raleway";
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
